@model IEnumerable<Vidly.Models.Movie>

@{
    ViewData["Title"] = "Listagem de filmes";
}


<h1> @ViewData["Title"] </h1>

<ul>
    @foreach(var filme in @Model)
    {
        <li> @filme.Name</li>
    }
</ul>