@model IEnumerable<Vidly.ViewModels.MovieCustomers>

@{
    ViewData["Title"] = "Filmes e seus Clientes:";
}
<h1>@ViewData["Title"]</h1>

<br>
<hr>
<div class="container">
<div class="row">

@foreach (var filme in @Model)
{
    <div class="col-sm mr-2">
        <button class="btn btn-success">
            <span class="spinner-border spinner-border-sm ms-1"></span>
                Adicionar Cliente
        </button>
        <h2>@filme.Movie.Name</h2>
        <ul>
           @if(@filme.Clientes == null)
           {
               <p>Sem Movimentação</p>

           }else
           {
                foreach (var cliente in @filme.Clientes)
                {
                <li><h3>@cliente.Name</h3></li>
                }
           }
        </ul>
    </div>
}
</div>


</div>
  